<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mzc_carrier_attribute</name>
    <displayName><![CDATA[MZC Carrier Attribute]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Restrict available shipping carriers based on product attribute values (e.g. sizes). Whitelist model: map attribute values to allowed carriers.]]></description>
    <author><![CDATA[Marcin Zbijowski Consulting]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall this module? Check the "Keep data" option in settings if you want to preserve your rules.]]></confirmUninstall>
</module>
